/**
 * Project - WP Block Post Content
 */

.wp-block-post-content {
  h2 {
    position: relative;
    margin: space(4) 0 space(3);
    padding-left: 2.25rem;
    font-weight: 100;
    font-size: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: -18px;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      background-color: themeColor("primaryLight");
    }
  }

  h3:not(.noStyle) {
    margin: space(4) 0 space(3);
    border-left: space(1) solid #f7b36e; // hsl(30, 90%, 70%)
    padding: space(2) 0 space(2) space(2);
    background: linear-gradient(45deg, #fce6cf, themeColor("lightest")); // hsl(30, 90%, 90%)
  }

  h4 {
    font-weight: bold;
    text-decoration: underline solid themeColor("primaryLight") 4px;
  }

  h5 {
    position: relative;
    font-weight: bold;
    line-height: 2;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 2px;
      background: linear-gradient(45deg, themeColor("tertiary"), themeColor("lightest"));
    }
  }

  .wp-block-column {
    p {
      @include smallText();
    }

    .wp-block-button {
      &__link:hover {
        color: themeColor("lightest");
      }
    }
  }
}
