/**
 * Project - WP Block Post Content
 */

.wp-block-post-content {
  h2 {
    margin: space(4) 0 space(3);
    border-left: space(1) solid #f7b36e; // hsl(30, 90%, 70%)
    padding: space(2) 0 space(2) space(2);
    background: linear-gradient(45deg, #fce6cf, themeColor("lightest")); // hsl(30, 90%, 90%)
  }

  h3 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: $h3FontSize;
    line-height: 2;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 6px;
      background: repeating-linear-gradient(-45deg, themeColor("primaryLight"), themeColor("primaryLight") 2px, themeColor("lightest") 2px, themeColor("lightest") 4px);
    }
  }

  h4 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: $h4FontSize;
    line-height: 2;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 4px;
      background: repeating-linear-gradient(-45deg, themeColor("secondary"), themeColor("secondary") 2px, themeColor("lightest") 2px, themeColor("lightest") 4px);
    }
  }

  h5 {
    position: relative;
    font-weight: bold;
    font-size: $h5FontSize;
    line-height: 2;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 2px;
      background: linear-gradient(45deg, themeColor("tertiary"), themeColor("lightest"));
    }
  }
}
