/**
 * Project - Hero
 */

.hero {
  @include row(center, center);
  width: 100%;
  height: calc(100vh - #{$headerHeight * 2});
  color: themeColor("lightest");
  text-align: center;

  &__content {
    p {
      margin-top: space(4);
      font-size: $h1FontSize;
    }
  }

  &__nav {
    @include row(center, center);
    gap: space(3);

    a {
      width: 18rem;
    }
  }
}
