/**
 * Project - Post Item
 */

.postItem {
  &__image {
    img {
      border-radius: 2.25rem;
    }
  }

  &__info {
    margin-top: space(2);
    margin-bottom: space(1);
    font-size: $smallFontSize;
  }

  &__heading {
    margin-top: space(2);
    margin-bottom: space(1);
    font-size: $h3FontSize;
  }

  &__excerpt {
    margin-bottom: space(2);
  }

  &.--single {
    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-bottom: space(4);
        text-align: center;
      }

      &__info, &__heading {
        margin-top: space(3);
        margin-bottom: space(2);
      }

      &__excerpt {
        text-align: justify;
      }
    }
  }
}
