/**
 * Project - Section
 */

.section {
  &__inner {
    background-color: $bodyBg;
    text-align: center;
  }
  
  &__container {
    @extend %__containerLg;
    padding-top: 2.25rem;
    padding-bottom: space(4);
    text-align: justify;
  }

  &__heading {
    display: inline-block;
    margin: space(3) 0;
    padding-bottom: space(1);
    border-bottom: space(1) solid themeColor();

    &.feature {
      margin-bottom: 4.5rem;
    }

    &.access {
      border-bottom-color: themeColor("secondary");
    }
  }
}
