/**
 * Component - Card
 */

.card {
  width: 19.2rem; // 24rem / slider aspect ratio
  height: 24rem;
  border-radius: 2.25rem;
  overflow: hidden;

  li:nth-child(3n+1) & {
    @include background("primary");

  }

  li:nth-child(3n-1) & {
    @include background("secondary");

  }

  li:nth-child(3n) & {
    @include background("tertiary");
  }

  &__image {
    img {
      width: 100%;
      aspect-ratio: 1.5;
      object-fit: cover;
    }
  }

  &__title {
    margin: 1.5rem auto 0.75rem;
    padding: 0 1.5rem;
    font-weight: bold;
    text-align: justify;

    a {
      color: inherit;
    }
  }

  &__description {
    margin: 0.75rem auto 1.5rem;
    padding: 0 1.5rem;
    @include smallText();
    text-align: justify;
  }
}
