<!-- wp:template-part {"slug":"header","theme":"okuetu-manmaru","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","className":"main__headerContainer","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main__headerContainer"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"isDark":false,"align":"wide","className":"main__headerCover"} -->
<div class="wp-block-cover alignwide is-light main__headerCover"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"textColor":"lightest","className":"postItem__heading","fontSize":"x-large"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","verticalAlignment":"top"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:group {"className":"main__content","layout":{"type":"constrained","contentSize":"48rem"}} -->
<div class="wp-block-group main__content"><!-- wp:group {"className":"postItem","layout":{"type":"default"}} -->
<div class="wp-block-group postItem"><!-- wp:post-content {"className":"postItem__content"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"main__sidebar","layout":{"type":"constrained","contentSize":"48rem"}} -->
<div class="wp-block-group main__sidebar"><!-- wp:template-part {"slug":"page-sidebar","theme":"okuetu-manmaru","tagName":"aside","className":"sidebar"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"okuetu-manmaru"} /-->