<!-- wp:template-part {"slug":"header","theme":"okuetu-manmaru","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","verticalAlignment":"top"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:group {"className":"main__content","layout":{"type":"constrained","contentSize":"48rem"}} -->
<div class="wp-block-group main__content"><!-- wp:group {"className":"postItem","layout":{"type":"default"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"className":"postItem__heading"} /-->

<!-- wp:post-content {"className":"postItem__content"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"main__sidebar","layout":{"type":"constrained","contentSize":"48rem"}} -->
<div class="wp-block-group main__sidebar"><!-- wp:template-part {"slug":"post-sidebar","theme":"okuetu-manmaru","tagName":"aside","className":"sidebar"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"okuetu-manmaru"} /-->